@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --colorHighight: #f7ad19;
    --colorMain: #9fe7f5;
    --colorbtn: #053f5c;
    --colorbtnhover: #0b6c9cfa;
}

body {
    background-color: #f2f2f2;
}

.navbar h1 {
    font-weight: bold;
    font-size: 30px;
}

.footer {
    background-color: #333;
    color: #d8d8d8;
    padding: 15px;
    text-align: center;
    margin-top: 10px;
}

.footer h5 {
    font-weight: 400;
}

.main {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: 10px auto;
    color: var(--colorMain);
}


.main .container {
    width: 95%;
    background-color: #333333d7;
    border-radius: 8px;
    padding: 18px 2px;
}

.main .container:not(:first-child) {
    margin-top: 20px;
}

.main .container .heading h4 {
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--colorHighight);
    padding: 10px 5px;
}

.container .input-form {
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.container .input-form .input-group {
    display: flex;
    flex-direction: column;
}

.input-form:last-child {
    margin-top: 20px;
}

.input-form .input-group label {
    font-weight: 500;
    font-size: 18px;
}

.input-form:not(:last-child) .input-group input,
.search-book .input-form .input-group input {
    padding: 8px 6px;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 1px #9a9a9a6a;
}

.search-book .input-form .input-group {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}


.search-book .input-form .input-group input {
    width: 75%;
}

#search-btn {
    width: 30%;
}

.input-group input:focus {
    outline: none
}

.input-group span>input {
    border: none;
    outline: none;
    margin-bottom: 12px;
}

.input-group button {
    padding: 8px 2px;
    cursor: pointer;
    background-color: var(--colorbtn);
    border: none;
    outline: none;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 500;
    transition: color .7s;
}

.add-book .input-form .error-input {
    color: rgb(138, 0, 0);
    font-weight: 500;
    font-size: 20px;
    display: none;
}

.add-book .input-form .error-input.show {
    display: block;
}

.input-group button:hover {
    background-color: var(--colorbtnhover);
}

.book-list .book-lists .no-data {
    color: rgb(204, 0, 0);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    display: none;
}

.book-list .book-lists .no-data.show,
.book-list .book-lists .no-data.show-finished {
    display: block;
}

.container .book-lists {
    padding: 4px 10px;
    margin-top: 16px;
}

.container .book-lists .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container .book-lists .container-card .card {
    width: 100%;
    background-color: #dfdfdd;
    color: black;
    padding: 6px 8px;
    box-sizing: border-box;
    border-radius: 8px;
}

.container .book-lists .container-card .card h5 {
    font-weight: 600;
    font-size: 16px;
}

.container .book-lists .container-card .card p {
    font-size: 12px;
    font-weight: 300;
}

.container .book-lists .container-card .card .card-control {
    display: flex;
    margin-top: 10px;
    column-gap: 10px;
    position: relative;
}

.card-control button {
    border: none;
    background-color: rgb(1, 171, 1);
    padding: 4px 6px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 6px;
    color: rgb(216, 216, 216);
    transition: background-color .2s;
}

.card-control button+button {
    background-color: rgb(170, 0, 0);
}

.card-control button:hover {
    background-color: rgb(0, 107, 0);
}

.card-control button+button:hover {
    background-color: rgb(83, 0, 0);
}